body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #6dab8c, #1c434a);
    font-family: Arial, sans-serif;

}

.container {
    background: white;
    padding: 40px;
    border-radius: 12px;
    width: 300px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.campo {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.botao {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.botao-entrar {
    background-color: #057569;
    color: white;
}

.botao-entrar:hover {
    background-color: #1b2121;
}

.botao-criar {
    background-color: #057569;
    color: white;
}

.botao-criar:hover {
    background-color: #1b2121;
}
