.conteudoIndex {
    min-height: 100vh;
    background: var(--fundo-signo);
    width: 100%;
    background-size: cover;       
    outline: 2px white;
    padding-top: 30px;
    padding-bottom: 80px;
    background-position: center; 
    background-repeat: no-repeat; 
}

/*cards criation style.*/
.click-cards{
    width: 100%;    
}

.card a{
    text-decoration: none;
    color: var(--cor-font-cards);
    justify-content: center;
}

.card h2, p{
    padding: 30px;
}

.card{
    width: 260px;
    height: 260px;
    border-radius: 30px;
    outline: 1px solid #e1e7ff;
    text-align: center;
    margin-bottom: 60px;
    margin-left: auto;
    cursor: pointer;
    transition: all ease 0.5s;
    margin-right: auto;
    background: var(--card-teste);
        
}

.card:hover{
    transform: translatey(-15px);
    box-shadow: var(--brilho-cards);
    
}

/* configurations for the break points for mobiles dispositives. (zodiac cards)*/
@media only screen and (min-width: 600px) {
    .click-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
}

@media only screen and (min-width:992px) {
    .click-cards {
        grid-template-columns: repeat(3, 1fr);
    }   
}