


@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Quintessential&family=Raleway:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Titan+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Quintessential&family=Raleway:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Titan+One&family=Uncial+Antiqua&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Cinzel:wght@400..900&family=Condiment&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Galdeano&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pinyon+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&family=Raleway:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Titan+One&family=Uncial+Antiqua&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
   
    
     
}
header{
    display: flex;
    background-color: black;
    color: #b8d4c5c4;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 4px 10px  rgba(177, 177, 177, 0.518);
    height: 90px;
   
}


h1{
    font-family: Castoro Titling;
    font-size: 1.6rem;
    color:#fbfeff;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode' Geneva, Verdana, sans-serif;
}

p, h2{
    line-height: 1.6;

}

p{
    margin-bottom: 20px;
    font-family: spectral;
}


/*geral formatting for the main page of zodiac signs*/

.sun, .explication_big_three, .moon, .ascendente{
    padding: 15px;
}



.vura_logo{
    max-width: 90px;
    max-height: 90px;
    padding: 0;
    object-fit: cover;
}

.nav_list{
    display: none;

}

.dark_mode span{
    display: block;
    padding: 3px;

}


.hero {
    font-size: 0.9rem;
    text-align: center;
    display: flex;
    padding: 10px;
    color: #99EEAF;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: radial-gradient(
             140% 110% at 75% 20%,
            rgb(0, 0, 0) 15%,
            #48A89A 35%,
            #99EEAF 45%,
            #1c434a 60%
        );
    
    box-shadow:
        inset 0 0 45px #6dab8c;
}



/* buttons of return and dark mode */
.mobile_menu{
    
    transition: all ease 0.3s;
    padding: 10px;
    padding-top: 8px;
    padding-bottom: 3px;
    font-size: 1rem;
    justify-content: center;
    text-align: center;
    border-radius: 100%;
}

.mobile_menu:hover{
    color:white;
    background-color: #c9ffde32;
   
}

.dark_mode{
    border-radius: 30px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.729);
    border: 1px solid #0e8a6f;
    color:#707d7d87;
    cursor: pointer;
    

   
}
.light, .dark{
    transition: all ease 0.3s;
}
.light:hover{
    color: #99EEAF;
}
.dark:hover{
    color: #99EEAF;
    
}


.back{
    border:none;
    padding: 12px;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    outline: none;
    background-color: rgba(0, 0, 0, 0.57);
    color: #99eeb061;
    
}

.hero a{
    text-decoration: none;
    transition: all ease 0.2s;
    color: #99eeb061;
    
}
.back a:hover{
    color:white;
   
}

.back:hover{
    background-color: #c9ffde32;
}

/* zodiac imagens and main formatation for the all  page */
.zodiac img{
    width: 100%;
    object-fit: cover;
    padding: 15px;
}
.ascendente{
    margin-bottom: 100px;
}

/* footer formatation */

footer{
    background-color: #1c434a;
    color: #2cae9fa0;
    padding: 10px;
    padding-top: 30px;
    height: 220px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.social_redes {
    justify-content: space-between;
    font-size: 2rem;
    display: flex;
    gap: 15px;
   
}

.social_redes a{
    color: #48A89A;
    cursor: pointer;
    transition: all ease 0.3s;
}




.social_redes i:hover{
     color: #cbefeb;
}

.footer_contents{
   
    gap: 15px;
    
}

.footer_contents a{
    color: #6dab8c;
    gap: 10px;
}

.footer_contents a:hover{
    color:#cbefeb;

}









